* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f2029;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}


.card-register {
  width: 380px;
  padding: 2.5rem 2rem;
  text-align: center;
  background: #2a2b38;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.card-register h1 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #f5f5f5;
  margin-bottom: 1.5rem;
}


.field {
  margin-top: 0.75rem;
  background-color: #1f2029;
  border-radius: 4px;
  padding: 0.6em 0.9em;
  display: flex;
  align-items: center;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="password"],
.field input[type="date"] {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  color: #d3d3d3;
  font-size: 0.9rem;
}

.field input::placeholder {
  color: #777;
}

.group {
  margin-top: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d3d3d3;
  font-size: 0.8rem;
}

.group label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.btn {
  margin-top: 1.2rem;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0.7em 1.2em;
  background-color: #ffeba7;
  color: #5e6681;
  box-shadow: 0 8px 24px rgba(255, 235, 167, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #5e6681;
  color: #ffeba7;
  box-shadow: 0 8px 24px rgba(16, 39, 112, 0.2);
}

.login-link {
    color: #f5f5f5;
  margin-top: 0.8rem;
  font-size: 0.8rem;
}

.login-link a {
  color: #ffeba7;
  text-decoration: none;
}

.login-link a:hover {
    color: #d3d3d3;
  text-decoration: underline;
}
